In [85]:
import os
import pandas as pd

In [ ]:
df = pd.read_excel("A - JPMorgan - 10-15-2040.xlsx").iloc[4:]
df.columns = df.iloc[0]

In [87]:
df.drop(4, axis = 0, inplace=True)
df.columns

Index(['Date', 'PX_MID', 'YLD_YTM_MID'], dtype='object', name=4)

In [88]:
df.set_index("Date", inplace=True)

/opt/anaconda3/lib/python3.12/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [89]:
df.index = pd.to_datetime(df.index)

In [90]:
df.columns.name = ""

In [91]:
df

             PX_MID YLD_YTM_MID
Date
2025-03-27   99.779       5.521
2025-03-26  100.596       5.442
2025-03-25  101.865       5.322
2025-03-24  100.774       5.425
2025-03-21  100.678       5.434
...             ...         ...
2014-05-01  114.873       4.529
2014-04-30  114.301       4.563
2014-04-29  113.758       4.596
2014-04-28  112.929       4.646
2014-04-25  113.623       4.604

[2736 rows x 2 columns]